<a href="https://colab.research.google.com/github/cizzeso/DTS22_TS4/blob/kristanto-setyo-utomo/ts4_kris.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Import library yang diperlukan untuk mengolah data

In [1]:
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
import matplotlib.pyplot as plt
import seaborn as sns
import datetime

Menghubungkan dengan drive penyimpan data (google)

In [2]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

Mengarahkan ke file sumber data yang akan diolah pada drive sebagai dataset dan menjadikan 'Date' sebagai kolom index

In [3]:
#ubah pathnya sesuai lokasi dataset 
df=pd.read_csv('/content/drive/MyDrive/Colab Notebooks/covid_impact_on_airport_traffic.csv',index_col="Date",parse_dates=True)

In [4]:
df.head()

,AggregationMethod,Version,AirportName,PercentOfBaseline,Centroid,City,State,ISO_3166_2,Country,Geography
Date,,,,,,,,,,
2020-04-03,Daily,1.0,Kingsford Smith,64,POINT(151.180087713813 -33.9459774986125),Sydney,New South Wales,AU,Australia,"POLYGON((151.164354085922 -33.9301772341877, 1..."
2020-04-13,Daily,1.0,Kingsford Smith,29,POINT(151.180087713813 -33.9459774986125),Sydney,New South Wales,AU,Australia,"POLYGON((151.164354085922 -33.9301772341877, 1..."
2020-07-10,Daily,1.0,Kingsford Smith,54,POINT(151.180087713813 -33.9459774986125),Sydney,New South Wales,AU,Australia,"POLYGON((151.164354085922 -33.9301772341877, 1..."
2020-09-02,Daily,1.0,Kingsford Smith,18,POINT(151.180087713813 -33.9459774986125),Sydney,New South Wales,AU,Australia,"POLYGON((151.164354085922 -33.9301772341877, 1..."
2020-10-31,Daily,1.0,Kingsford Smith,22,POINT(151.180087713813 -33.9459774986125),Sydney,New South Wales,AU,Australia,"POLYGON((151.164354085922 -33.9301772341877, 1..."

In [5]:
df.tail()

,AggregationMethod,Version,AirportName,PercentOfBaseline,Centroid,City,State,ISO_3166_2,Country,Geography
Date,,,,,,,,,,
2020-06-05,Daily,1.0,Seattle-Tacoma International,80,POINT(-122.308661576118 47.4505828917119),SeaTac,Washington,US-WA,United States of America (the),"POLYGON((-122.297594547272 47.434474106872, -1..."
2020-10-03,Daily,1.0,Seattle-Tacoma International,55,POINT(-122.308661576118 47.4505828917119),SeaTac,Washington,US-WA,United States of America (the),"POLYGON((-122.297594547272 47.434474106872, -1..."
2020-07-16,Daily,1.0,Seattle-Tacoma International,76,POINT(-122.308661576118 47.4505828917119),SeaTac,Washington,US-WA,United States of America (the),"POLYGON((-122.297594547272 47.434474106872, -1..."
2020-07-31,Daily,1.0,Seattle-Tacoma International,69,POINT(-122.308661576118 47.4505828917119),SeaTac,Washington,US-WA,United States of America (the),"POLYGON((-122.297594547272 47.434474106872, -1..."
2020-08-30,Daily,1.0,Seattle-Tacoma International,68,POINT(-122.308661576118 47.4505828917119),SeaTac,Washington,US-WA,United States of America (the),"POLYGON((-122.297594547272 47.434474106872, -1..."

In [6]:
# cek masing-masing kolom 

df.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 7247 entries, 2020-04-03 to 2020-08-30
Data columns (total 10 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   AggregationMethod  7247 non-null   object
 1   Version            7247 non-null   float64
 2   AirportName        7247 non-null   object
 3   PercentOfBaseline  7247 non-null   int64
 4   Centroid           7247 non-null   object
 5   City               7247 non-null   object
 6   State              7247 non-null   object
 7   ISO_3166_2         7247 non-null   object
 8   Country            7247 non-null   object
 9   Geography          7247 non-null   object
dtypes: float64(1), int64(1), object(8)
memory usage: 622.8+ KB

Mengecek type dari masing-masing data

In [7]:
# kolom 'Date' masih memiliki object type. maka harus diubah ke type datetime

df.dtypes

AggregationMethod     object
Version              float64
AirportName           object
PercentOfBaseline      int64
Centroid              object
City                  object
State                 object
ISO_3166_2            object
Country               object
Geography             object
dtype: object

In [8]:
# Check the null values
df.isnull().sum()

AggregationMethod    0
Version              0
AirportName          0
PercentOfBaseline    0
Centroid             0
City                 0
State                0
ISO_3166_2           0
Country              0
Geography            0
dtype: int64

In [9]:
# Check the values
df.isna().sum()

AggregationMethod    0
Version              0
AirportName          0
PercentOfBaseline    0
Centroid             0
City                 0
State                0
ISO_3166_2           0
Country              0
Geography            0
dtype: int64

In [10]:
df.describe(include='all')

,AggregationMethod,Version,AirportName,PercentOfBaseline,Centroid,City,State,ISO_3166_2,Country,Geography
count,7247,7247.0,7247,7247.000000,7247,7247,7247,7247,7247,7247
unique,1,NaN,28,NaN,28,27,23,23,4,28
top,Daily,NaN,Hartsfield-Jackson Atlanta International,NaN,POINT(-84.4279188822754 33.6410758198944),New York,New York,US-NY,United States of America (the),"POLYGON((-84.4299745559692 33.657852680999, -8..."
freq,7247,NaN,262,NaN,262,523,523,523,4441,262
mean,NaN,1.0,NaN,66.651442,NaN,NaN,NaN,NaN,NaN,NaN
std,NaN,0.0,NaN,22.134433,NaN,NaN,NaN,NaN,NaN,NaN
min,NaN,1.0,NaN,0.000000,NaN,NaN,NaN,NaN,NaN,NaN
25%,NaN,1.0,NaN,53.000000,NaN,NaN,NaN,NaN,NaN,NaN
50%,NaN,1.0,NaN,67.000000,NaN,NaN,NaN,NaN,NaN,NaN
75%,NaN,1.0,NaN,84.000000,NaN,NaN,NaN,NaN,NaN,NaN
max,NaN,1.0,NaN,100.000000,NaN,NaN,NaN,NaN,NaN,NaN

Kesimpulan:
- Terdapat 4 countries, 23 states, 27 cities dan 28 airports pada dataset.
- Centroid and Country merupakan data POINT and POLYGON, yang menunjukkan lokasi geografi/koordinat (geographical locations).
  - data koodrinat ini digunakan untuk analisis diskriptif dan visualisasi untuk mengetahui insight dari dataset yang tersedia
- Dari hasil tersebut juga terlihat bahwa dataset tidak memiliki missing value.
- Modeling dilakukan menggunakan index 'Date' dan variabel 'PercentOfBaseline' yang menunjukkan persentase dari volume lalu lintas (traffic) menuju dan dari bandara yang dibandingkan (persentase) dengan periode baseline (1 februari 2020 hingga 15 maret 2020)
- Tujuan modeling adalah untuk membuat prediksi kepadatan lalulintas baik yang menuju atau dari bandara.

**Data processing**
Tahapan yang dilakuan:
1. Mengambil data 'PercentOfBaseline' secara timeseries (Date) yang akan digunakan dalam model

In [11]:
#mengambil dataset PercentOfBaseline

dataset=df['PercentOfBaseline']
dataset=pd.DataFrame(dataset)

print(dataset)

            PercentOfBaseline
Date
2020-04-03                 64
2020-04-13                 29
2020-07-10                 54
2020-09-02                 18
2020-10-31                 22
...                       ...
2020-06-05                 80
2020-10-03                 55
2020-07-16                 76
2020-07-31                 69
2020-08-30                 68

[7247 rows x 1 columns]

In [12]:
#membagi dataset menjadi data train 80% dan data test 20%

from sklearn.model_selection import train_test_split

train_size = int(len(dataset) * 0.8) # bobot 80%
train, test = dataset.iloc[0:train_size], dataset.iloc[train_size:len(dataset)]

print(train.shape, test.shape)

(5797, 1) (1450, 1)

In [13]:
# Scaling data menjadi antara 0 sampai 1 (normalisasi data)

from sklearn.preprocessing import MinMaxScaler
sc = MinMaxScaler(feature_range = (0, 1))
training_set_scaled = sc.fit_transform(train)
test_set_scaled = sc.fit_transform(test)

In [14]:
# membuat struktur data train dengan 60 timesteps and 1 output

X_train = []
y_train = []
for i in range(60, 5797):
    X_train.append(training_set_scaled[i-60:i, 0])
    y_train.append(training_set_scaled[i, 0])
X_train, y_train = np.array(X_train), np.array(y_train)

# Reshaping
X_train = np.reshape(X_train, (X_train.shape[0], X_train.shape[1], 1))

In [15]:
print(X_train.shape, y_train.shape)

(5737, 60, 1) (5737,)

In [16]:
# membuat struktur data test dengan 60 timesteps and 1 output

X_test = []
y_test = []
for i in range(60, 1450):
    X_test.append(test_set_scaled[i-60:i, 0])
    y_test.append(test_set_scaled[i, 0])
X_test, y_test = np.array(X_test), np.array(y_test)

# Reshaping
X_test = np.reshape(X_test, (X_test.shape[0], X_test.shape[1], 1))

In [17]:
print(X_test.shape, y_test.shape)

(1390, 60, 1) (1390,)

In [18]:
# silahkan dilanjutkan dengan "Building the Model"
#Building the RNN
#Importing the Keras libraries and packages
from keras.models import Sequential
from keras.layers import Dense
from keras.layers import LSTM
from keras.layers import Dropout

In [19]:
# Initialising the RNN
model = Sequential()

In [20]:
# Adding the first LSTM layer and some Dropout regularisation
# Adding a second LSTM layer and some Dropout regularisation
# Adding a third LSTM layer and some Dropout regularisation
# Adding a fourth LSTM layer and some Dropout regularisation
# Adding the output layer
# Code here
model.add(LSTM(units = 50,return_sequences = True,input_shape = (X_train.shape[1],1)))
model.add(Dropout(0.2))
model.add(LSTM(units = 50,return_sequences = True))
model.add(Dropout(0.2))
model.add(LSTM(units = 50,return_sequences = True))
model.add(Dropout(0.2))
model.add(LSTM(units = 50))
model.add(Dropout(0.2))
model.add(Dense(units = 1))

In [21]:
# Compiling the RNN
# Code here
model.compile(optimizer='adam', loss='mean_squared_error')

In [22]:
# Fitting the RNN to the Training set
epoch = 100 
batch_size = 32
model.fit(X_train, y_train, batch_size,epoch)

Epoch 1/100
180/180 [==============================] - 12s 14ms/step - loss: 0.0433
Epoch 2/100
180/180 [==============================] - 3s 14ms/step - loss: 0.0328
Epoch 3/100
180/180 [==============================] - 3s 14ms/step - loss: 0.0322
Epoch 4/100
180/180 [==============================] - 3s 14ms/step - loss: 0.0313
Epoch 5/100
180/180 [==============================] - 3s 14ms/step - loss: 0.0321
Epoch 6/100
180/180 [==============================] - 3s 16ms/step - loss: 0.0312
Epoch 7/100
180/180 [==============================] - 3s 14ms/step - loss: 0.0308
Epoch 8/100
180/180 [==============================] - 2s 14ms/step - loss: 0.0308
Epoch 9/100
180/180 [==============================] - 2s 14ms/step - loss: 0.0303
Epoch 10/100
180/180 [==============================] - 2s 14ms/step - loss: 0.0306
Epoch 11/100
180/180 [==============================] - 3s 14ms/step - loss: 0.0301
Epoch 12/100
180/180 [==============================] - 3s 14ms/step - loss: 0.0293
Epoch 13/100
180/180 [==============================] - 3s 14ms/step - loss: 0.0297
Epoch 14/100
180/180 [==============================] - 3s 14ms/step - loss: 0.0290
Epoch 15/100
180/180 [==============================] - 3s 14ms/step - loss: 0.0291
Epoch 16/100
180/180 [==============================] - 3s 14ms/step - loss: 0.0293
Epoch 17/100
180/180 [==============================] - 3s 14ms/step - loss: 0.0289
Epoch 18/100
180/180 [==============================] - 3s 14ms/step - loss: 0.0289
Epoch 19/100
180/180 [==============================] - 3s 14ms/step - loss: 0.0291
Epoch 20/100
180/180 [==============================] - 3s 14ms/step - loss: 0.0288
Epoch 21/100
180/180 [==============================] - 2s 14ms/step - loss: 0.0287
Epoch 22/100
180/180 [==============================] - 2s 14ms/step - loss: 0.0287
Epoch 23/100
180/180 [==============================] - 3s 14ms/step - loss: 0.0287
Epoch 24/100
180/180 [==============================] - 2s 14ms/step - loss: 0.0287
Epoch 25/100
180/180 [==============================] - 3s 14ms/step - loss: 0.0286
Epoch 26/100
180/180 [==============================] - 3s 14ms/step - loss: 0.0281
Epoch 27/100
180/180 [==============================] - 2s 14ms/step - loss: 0.0281
Epoch 28/100
180/180 [==============================] - 3s 14ms/step - loss: 0.0283
Epoch 29/100
180/180 [==============================] - 3s 14ms/step - loss: 0.0280
Epoch 30/100
180/180 [==============================] - 2s 14ms/step - loss: 0.0284
Epoch 31/100
180/180 [==============================] - 3s 14ms/step - loss: 0.0282
Epoch 32/100
180/180 [==============================] - 3s 14ms/step - loss: 0.0281
Epoch 33/100
180/180 [==============================] - 2s 14ms/step - loss: 0.0277
Epoch 34/100
180/180 [==============================] - 3s 14ms/step - loss: 0.0277
Epoch 35/100
180/180 [==============================] - 2s 14ms/step - loss: 0.0277
Epoch 36/100
180/180 [==============================] - 3s 14ms/step - loss: 0.0277
Epoch 37/100
180/180 [==============================] - 3s 14ms/step - loss: 0.0278
Epoch 38/100
180/180 [==============================] - 3s 14ms/step - loss: 0.0275
Epoch 39/100
180/180 [==============================] - 2s 14ms/step - loss: 0.0278
Epoch 40/100
180/180 [==============================] - 3s 14ms/step - loss: 0.0277
Epoch 41/100
180/180 [==============================] - 2s 14ms/step - loss: 0.0276
Epoch 42/100
180/180 [==============================] - 3s 14ms/step - loss: 0.0276
Epoch 43/100
180/180 [==============================] - 3s 14ms/step - loss: 0.0274
Epoch 44/100
180/180 [==============================] - 3s 14ms/step - loss: 0.0276
Epoch 45/100
180/180 [==============================] - 2s 14ms/step - loss: 0.0276
Epoch 46/100
180/180 [==============================] - 2s 14ms/step - loss: 0.0275
Epoch 47/100
180/180 [==============================] - 2s 14ms/step - loss: 0.0275
Epoch 48/100
180/180 [==============================] - 2s 14ms/step - loss: 0.0272
Epoch 49/100
180/180 [==============================] - 2s 14ms/step - loss: 0.0274
Epoch 50/100
180/180 [==============================] - 3s 14ms/step - loss: 0.0273
Epoch 51/100
180/180 [==============================] - 3s 14ms/step - loss: 0.0273
Epoch 52/100
180/180 [==============================] - 3s 14ms/step - loss: 0.0275
Epoch 53/100
180/180 [==============================] - 3s 17ms/step - loss: 0.0275
Epoch 54/100
180/180 [==============================] - 3s 17ms/step - loss: 0.0272
Epoch 55/100
180/180 [==============================] - 3s 14ms/step - loss: 0.0273
Epoch 56/100
180/180 [==============================] - 3s 14ms/step - loss: 0.0272
Epoch 57/100
180/180 [==============================] - 3s 14ms/step - loss: 0.0272
Epoch 58/100
180/180 [==============================] - 3s 14ms/step - loss: 0.0270
Epoch 59/100
180/180 [==============================] - 3s 14ms/step - loss: 0.0272
Epoch 60/100
180/180 [==============================] - 3s 14ms/step - loss: 0.0273
Epoch 61/100
180/180 [==============================] - 2s 14ms/step - loss: 0.0272
Epoch 62/100
180/180 [==============================] - 3s 14ms/step - loss: 0.0273
Epoch 63/100
180/180 [==============================] - 3s 14ms/step - loss: 0.0269
Epoch 64/100
180/180 [==============================] - 2s 14ms/step - loss: 0.0274
Epoch 65/100
180/180 [==============================] - 2s 14ms/step - loss: 0.0270
Epoch 66/100
180/180 [==============================] - 3s 14ms/step - loss: 0.0272
Epoch 67/100
180/180 [==============================] - 3s 15ms/step - loss: 0.0271
Epoch 68/100
180/180 [==============================] - 3s 14ms/step - loss: 0.0270
Epoch 69/100
180/180 [==============================] - 3s 14ms/step - loss: 0.0270
Epoch 70/100
180/180 [==============================] - 3s 14ms/step - loss: 0.0270
Epoch 71/100
180/180 [==============================] - 3s 14ms/step - loss: 0.0268
Epoch 72/100
180/180 [==============================] - 3s 14ms/step - loss: 0.0269
Epoch 73/100
180/180 [==============================] - 3s 14ms/step - loss: 0.0269
Epoch 74/100
180/180 [==============================] - 3s 14ms/step - loss: 0.0272
Epoch 75/100
180/180 [==============================] - 3s 14ms/step - loss: 0.0270
Epoch 76/100
180/180 [==============================] - 3s 14ms/step - loss: 0.0270
Epoch 77/100
180/180 [==============================] - 3s 14ms/step - loss: 0.0268
Epoch 78/100
180/180 [==============================] - 3s 14ms/step - loss: 0.0267
Epoch 79/100
180/180 [==============================] - 3s 14ms/step - loss: 0.0268
Epoch 80/100
180/180 [==============================] - 3s 14ms/step - loss: 0.0268
Epoch 81/100
180/180 [==============================] - 3s 14ms/step - loss: 0.0266
Epoch 82/100
180/180 [==============================] - 3s 14ms/step - loss: 0.0267
Epoch 83/100
180/180 [==============================] - 3s 14ms/step - loss: 0.0265
Epoch 84/100
180/180 [==============================] - 3s 14ms/step - loss: 0.0267
Epoch 85/100
180/180 [==============================] - 3s 14ms/step - loss: 0.0267
Epoch 86/100
180/180 [==============================] - 2s 14ms/step - loss: 0.0266
Epoch 87/100
180/180 [==============================] - 3s 14ms/step - loss: 0.0269
Epoch 88/100
180/180 [==============================] - 3s 14ms/step - loss: 0.0267
Epoch 89/100
180/180 [==============================] - 3s 14ms/step - loss: 0.0266
Epoch 90/100
180/180 [==============================] - 3s 14ms/step - loss: 0.0265
Epoch 91/100
180/180 [==============================] - 3s 14ms/step - loss: 0.0268
Epoch 92/100
180/180 [==============================] - 3s 14ms/step - loss: 0.0266
Epoch 93/100
180/180 [==============================] - 3s 14ms/step - loss: 0.0264
Epoch 94/100
180/180 [==============================] - 3s 14ms/step - loss: 0.0263
Epoch 95/100
180/180 [==============================] - 3s 14ms/step - loss: 0.0265
Epoch 96/100
180/180 [==============================] - 3s 14ms/step - loss: 0.0263
Epoch 97/100
180/180 [==============================] - 3s 14ms/step - loss: 0.0265
Epoch 98/100
180/180 [==============================] - 3s 14ms/step - loss: 0.0262
Epoch 99/100
180/180 [==============================] - 3s 14ms/step - loss: 0.0264
Epoch 100/100
180/180 [==============================] - 3s 14ms/step - loss: 0.0262